In [1]:
#Q1. write a programm to accept a percentage from the user and display the grade according to following criteria

In [3]:
name=input("Enter Your  Name")
marks=int(input("Enter Your Marks"))
if marks>90:
    print(f"{name.lower().title()} your Grade is   A")
elif marks>80 and marks<=90:
    print(f"{name.lower().title()} your Grade is   B")
elif marks>=60 and marks<=80:
    print(f"{name.lower().title()} your Grade is   C")
else:
    print(f"{name.lower().title()} your Grade is  D")

Enter Your  Name sujeet kumar
Enter Your Marks 85

Sujeet Kumar your Grade is   B

In [4]:
#Q2. write a programm to accept a  cost price of a bike and display road tax to be paid according to the following criteria

In [8]:
cost_price=int(input("Enter the Cost Price of the bike  "))
if cost_price>100000:
    print(f"the road tax to be paid is 15% and the amount is     {(cost_price*15)/100}")
elif cost_price>50000 and cost_price<=100000:
    print(f"the road tax to be paid is 10% and the amount is      {(cost_price*10)/100}")
else:
    print(f"the road tax to be paid is 5% and the amount is    {(cost_price*5)/100}")

Enter the Cost Price of the bike   2589

the road tax to be paid is 5% and the amount is    129.45

In [9]:
#Q3. accept any city from the user and display moments of the city

In [14]:
city= input("Enter the City Monumnet you want")
city=city.lower()
print()
if city=="delhi":
    print(f"The Monument of {city} is 'RED FORT' ")
elif city=="agra":
          print(f"The Monument of {city} is 'Taj Mahal'")
elif city=="jaipur":
          print(f"The Monument of {city} is 'Jal Mahal' ")

Enter the City Monumnet you want agra

The Monument of agra is 'Taj Mahal'

In [15]:
#q4. Check hoe Many Time a given number can be divided by 3 before it is lessthan or equal to 10.

In [20]:
number = int(input("Ente The Number you Want To See     "))

count_x = 0

while number > 10:
            # divide the number by 3
    number = number / 3
            # increase count
    count_x = count_x + 1
print('Total iteration required', count_x)

Ente The Number you Want To See      452

Total iteration required 4

In [21]:
#Q5. Why & When to Use While Loop in Python give a detailed description with example.

In [29]:
# For loop:
## When we know how many itration need to be done


number = int(input("enter number want to u print"))
for i in range(1,number):
    print(i, end=" ")

enter number want to u print 55

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54

In [30]:
# While loop


# When we don't know how many times we need to do the iteartion


# take the input
ex = input('Do you want to start y/n ?')

# make the condition 
while ex!='n':
    ex= input('Type n if you wnat to close the game?')
    while ex=="n": # create the 2nd condition
        break # break the while loop if user watns to close
    else:
        print()
        print()
        print("hello world\n\n\n Welcome to while loop")
        print()

Do you want to start y/n ? y
Type n if you wnat to close the game? y

hello world


 Welcome to while loop

Type n if you wnat to close the game? y

hello world


 Welcome to while loop

Type n if you wnat to close the game? n

In [31]:
#6. use nested while loop to print 3 diffrent ptterns

In [32]:

#pattern 1

def pattern(n):
   i = 1
   while i <= n :
      j = 1
      while j <= i:
         # printing stars
         print("*", end=" ")
         j = j + 1
      print()
      i = i + 1
 
# take inputs
n = int(input('Enter the number of rows: '))

# calling function
pattern(n)

Enter the number of rows:  5

*
* *
* * *
* * * *
* * * * *

In [33]:
# #pattern 2

def pattern(n):
   i = 1
   while i <= n :
      j = n
      while j >= i:
         # printing stars
         print("*", end=" ")
         j = j - 1
      print()
      i = i + 1
 
# take inputs
n = int(input('Enter the number of rows: '))

# calling function
pattern(n)

Enter the number of rows:  5

* * * * *
* * * *
* * *
* *
*

In [35]:
#Q7. Reverse a while loop to display number from 10 to 1

In [34]:
#Pattern 3
rows = int(input("Enter number of rows="))
i = 1
while i <= rows:
    j = i
    while j < rows:
        # printing spaces before stars
        print(' ', end=' ')
        j += 1
    k = 1
    # print stars
    while k <= i:
        print('*', end=' ')
        k += 1
    print()
    i += 1
# for downside output of star pattern
i = rows
while i >= 1:
    j = i
    while j <= rows:
        print(' ', end=' ')
        j += 1
    k = 1
    while k < i:
        print('*', end=' ')
        k += 1
    print('')
    i -= 1

Enter number of rows= 5

        *
      * *
    * * *
  * * * *
* * * * *
  * * * *
    * * *
      * *
        *

In [37]:
n =10 # here n = number
c=1    # c = count
m=(list(range(1,n+1)))
l=len(m)
while c<=10:
    
    print(m[l-1])
    l=l-1
    
    c=c+1

10
9
8
7
6
5
4
3
2
1

In [38]:
#Q8.   Reverse a while loop to display number from 10 to 1

In [39]:
n =10 # here n = number
c=1    # c = count
m=(list(range(1,n+1)))
l=len(m)
while c<=10:
    
    print(m[l-1])
    l=l-1
    
    c=c+1

10
9
8
7
6
5
4
3
2
1